body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1efef;
  }
  
  header {
    background-color: #800000;
    color: #fff;
    padding: 2px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  main {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 15px;
    border: none;
    background: #800000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #800000;
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #800000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  